/* front page */
.treecategory,
.treeitem,
h4,
.blurb,
#homelogo {
    position: inherit;
}

.treecategory h4 {
    visibility: hidden;
}

.treecategory:hover>h4,
.treecategory:focus>h4,
.treecategory:active>h4 {
    visibility: visible;
}


.treeitem a:hover h5,
.treeitem a:focus h5,
.treeitem a:active h5 {
    color: #dd0000;
}

html,
body.homepage {
    height: 100%;
}

#homepage {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: auto;
    position: relative;
}

#homepadding {
    height: 66%;
    padding: 0 2em 0 2em;
    position: relative;
}

#homecontainer {
    height: 100%;
    position: relative;
}

#homelogo {
    left: 0;
    bottom: 0;
    width: 240px;
    height: 160px;
    background: url('home.png') no-repeat bottom left;
    opacity: 0.6
}

.treeitem {
    padding-left: 0.6em;
}

.blurb {
    visibility: hidden;
    position: absolute;
    color: black;
    z-index: 999;
    background: white;
    padding: 0.2em;
}

.treeitem a:hover .blurb,
.treeitem a:active .blurb,
.treeitem a:focus .blurb {
    visibility: visible;
}

.treecategory:hover .treehline,
.treecategory:hover .treevline,
.treecategory:hover .treeudline,
.treecategory:hover .treeddline,
.treecategory:hover .treenode,
.treecategory:focus .treehline,
.treecategory:focus .treevline,
.treecategory:focus .treeudline,
.treecategory:focus .treeddline,
.treecategory:focus .treenode,
.treecategory:active .treehline,
.treecategory:active .treevline,
.treecategory:active .treeudline,
.treecategory:active .treeddline,
.treecategory:active .treenode {
    opacity: 0.3;
}

.treecategory:hover>.treehline,
.treecategory:hover>.treevline,
.treecategory:hover>.treeudline,
.treecategory:hover>.treeddline,
.treecategory:hover>.treenode,
.treecategory:focus>.treehline,
.treecategory:focus>.treevline,
.treecategory:focus>.treeudline,
.treecategory:focus>.treeddline,
.treecategory:focus>.treenode,
.treecategory:active>.treehline,
.treecategory:active>.treevline,
.treecategory:active>.treeudline,
.treecategory:active>.treeddline,
.treecategory:active>.treenode {
    opacity: 0.7;
}

.treehline,
.treevline,
.treeudline,
.treeddline,
.treenode {
    position: absolute;
    z-index: -998;
    opacity: 0.7;
}

.treeudline,
.treeddline,
#homelogo {
    z-index: -999;
}

.treehline {
    background: url('hline.png') repeat-x center;
}

.treevline {
    background: url('vline.png') repeat-y center;
}

.treeudline {
    background: url('udline.png') no-repeat center;
}

.treeddline {
    background: url('ddline.png') no-repeat center;
}

.treenode {
    background: url('node.png') no-repeat center;
    width: 16px;
    height: 16px;
}